<%- include ('./includes/head.ejs') %>
<div class="text-center">
  <h4 class="m-5">The requested page was not found!</h4>
  <a class="btn btn-outline-info" href="/">
    Back to Home Page <span class="fa fa-heart" style="color: red"></span>
  </a>
</div>
<%- include('./includes/footer.ejs') %>
