body {
    font-family: "Arial", sans-serif !important;
}

.form-group {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 40px;
}

#todo {
    margin: 0 auto;
    width: 500px;
}

input.form-control {
    height: 50px;
}

button.btn-primary.fa-plus {
    height: 50px;
    width: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0;
    transition: background-color 0.3s;
}

button.btn-primary.fa-plus:hover {
    background-color: #0056b3;
}